<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.vo.Brand">

    <select id="list" parameterType="Integer" resultType="app.vo.Brand">
        select * from brand
        <if test="limit != null">
            limit #{limit} ;
        </if>

    </select>

    <select id="selectBrand" parameterType="Integer" resultType="app.vo.Brand">
        select * from brand where brand.bid = #{bid}
    </select>
</mapper>