<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.vo.GoodCata">

<!--    创建分类 -->
    <insert id="creategoodcata" parameterType="app.vo.GoodCata">
        insert into goodcata(gname, parrentid, isparrent,grade)
        value (#{gname},#{parrentid},#{isparrent},#{grade})
    </insert>
<!--    查询分类-->
    <select id="querygoodcata" parameterType="map" resultType="app.vo.GoodCata">
        select * from goodcata where  1=1
        <if test="gname != null" >
            and gname = #{gname}
        </if>
        <if test="parrentid != null">
            and parrentid = #{parrentid}
        </if>
        <if test="isparrent != null">
            and isparrent = #{isparrent}
        </if>
        <if test="grade != null">
            and grade = #{grade}
        </if>
    </select>


    <select id="likequerygood" parameterType="map" resultType="map">
        select * from milk m,brand b where m.bid = b.bid and b.tag = 1 and m.tag =1
        <if test="gname != null">
            and gname like concat('%',#{gname},'%')
        </if>
        <if test="bid != null">
            and b.bid = #{bid}
        </if>

    </select>

</mapper>