<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.vo.Milk">

    <select id="list" parameterType="map" resultType="app.vo.Milk">
        select * from milk m,brand b where m.bid = b.bid and  m.tag = 1 and b.tag = 1
--        根据品牌查询
        <if test="bid != null">
            and b.bid = #{bid}
        </if>
--         查询具体商品
        <if test="gid != null and gid != ''">
            and m.gid = #{gid}
        </if>
        <if test="stage != null">
            and stage = #{stage}
        </if>
        <if test="cata != null">
            and cata = #{cata}
        </if>
        <if test="age != null">
            and age = #{age}
        </if>
        <if test="sprice != null and  eprice">
            and price between #{sprice} and #{eprice}
        </if>
    </select>

<!--    好评商品-->
    <select id="goodmilk" resultType="app.vo.Milk">
        select * from milk m,brand b where m.bid = b.bid and m.tag = 1 and b.tag = 1 order by rate desc
    </select>

<!--    购买商品-->
    <update id="purchase" parameterType="int" >
        update milk set store -= 1 where gid = #{gid}
    </update>

<!--    根据gid查询具体的商品-->
    <select id="queryid" parameterType="int" resultType="app.vo.Milk">
        select * from where gid = #{gid}
    </select>

<!--    根据gid查询商品的评分-->
    <select id="queryreate" parameterType="int" resultType="int">

    </select>
</mapper>