<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.vo.Admin">

<!--    商品管理员为1-->
    <select id="findadmin" parameterType="map" resultType="app.vo.Admin">
        select * from role where tag =1 and name = #{adminname} and password = #{password} and
        role = #{role}
    </select>

    <insert id="createmilk" parameterType="app.vo.shop.Milk">
        insert into milk(gname, price, store, createtime, recommend, rate, cata, stage, age, bid, img,gcid,tag)
        value (#{gname},#{price},#{store},#{createtime},#{recommend},#{rate},#{cata},#{stage},#{age},#{bid},#{img},#{gcid},1)
    </insert>

    <update id="updatemilk" parameterType="app.vo.shop.Milk">
        update milk
        <set>
             <if test="gname != null and gname != ''">
                 gname = #{gname},
             </if>
             <if test="price != null and price != '' ">
                 price = #{price},
             </if>
             <if test="store != null and store != '' ">
                 store = #{store},
             </if>
             <if test="recommend != null and recommend != ''">
                 recommend = #{recommend},
             </if>
             <if test="rate != null ">
                 rate = #{rate},
             </if>
             <if test="cata != null and cata != ''">
                 cata = #{cata},
             </if>
             <if test="stage != null and stage != '' ">
                 stage = #{stage},
             </if>
             <if test="age != null and age != ''">
                 age = #{age},
             </if>
             <if test="bid != null and bid != ''">
                 bid = #{bid},
             </if>
             <if test="img != null and img != '' ">
                 img = #{img},
             </if>
             <if test="tag != null and tag != ''">
                 tag = #{tag}
             </if>
        </set>
        where gid = #{gid}
    </update>

    <update id="delemilk" parameterType="int">
        update milk set tag = 0 where gid = #{gid}
    </update>



</mapper>